.dashboard-menu_open,
.dashboard-menu_close{
    width: 30px;
    height: 25px;
    margin-top: 1.2rem;
    transition: all .5s;
    position: absolute;
    top: 0;
    right: 1rem;
    display: none;
}
.icon-size{
    width: 30px;
    height: 30px;
}
.dashboard{
    width: 100%;
    height: 100%;
    background: #fbfffe;
    position: relative;
    opacity: .9;
}
.support-header{
    background-color: #fff;
    width: 100%;
    height: 70px;
}
.menu-navbar,
.search-content{
    display: flex;
}
.menu-navbar .logo{
    margin-top: .3rem;
}
.search-content{
    margin-left: 3rem;
}
.search-note img{
    width: 25px;
    height: 25px;
    margin-top: 1.2rem;
}
.search-input input{
    background-color: #fff;
    border: none;
    font-size: 16px;
    margin-bottom: 2rem;
}
/**********************dasboard features***********************************/
.dashboard_features{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    background-color: #f1fafb;
    padding-top: .4rem;
    opacity: .6;
}
.column-flex{
    display: flex;
    justify-content: space-between;
}
.flex-icons{
    display: flex;
}
.notes span, 
.todo span, 
.event span, 
.archives span, 
.setting span{
    width: 30px;
    height: 30px;
    background-color: #444;
    color: #fe5f55;
    margin-left: .2rem;
    padding: .3rem;
    clip-path: circle();
}
.notes span:hover, 
.todo span:hover, 
.event span:hover, 
.archives span:hover, 
.setting span:hover{
    background-color: #fe5f55;
    color: #000;
}
.notes, 
.todo, 
.event, 
.archives, 
.setting{
    display: flex;
    padding-top: .2rem;
    margin: 1px .2rem;
} 
.current{
    color: #4a4de7;
    border-bottom: 1px solid #3f52e3;
    opacity: 1;
}
.on-hold:hover{
    color: #4a4de7;
    border-bottom: 1px solid #3f52e3;
    opacity: 1;
}
i{
    margin: .3rem;
}
/*****************dashboard container*******************************/
#dashboard_container .dashboard_content{
    display: grid;
    grid-template-columns: 1fr 2fr .5fr;
    grid-column-gap: 1rem;
}
/*************** first layer *************************/
.dashboard_content .notes_row{
    background-color: #fff;
}
.dashboard_content .notes_row-content{
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #e6f8f6;
}
.dashboard_content .notes_row-content:nth-child(2n){
    background-color: #fcefee;
}
.dashboard_content .notes_row-content:last-child{
    background-color:  #ffcdab;
}
.dashboard_content .note_features-col{
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
}
.dashboard_content .note_features-personal{
    width: 60px;
    height: 25px;
    background-color: #e6f8f6;
    color: #3f52e3;
    padding: 2px 4px;
    border-radius: 5rem;
}
.dashboard_content .note_features-dot{
    width: 35px;
    background-color: #e6f8f6;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 0 2px;
    text-align: center;
    border-radius: 15px;
}
.dashboard_content .note_features-dot:hover{
    background-color: #fff;
    color: #e6f8f6
}
.dashboard_content .dot_features{
    background-color: #fff;
    border: 1px solid #eee;
    color: #333;
    width: 100px;
    border-radius: 5px;
    position: absolute;
    margin-left: -5rem;
    display: none;
}
.dashboard_content .dot_features li:hover{
    background-color: #e6f8f6;
    color: #3f52e3;
}
.dashboard_content .dot_features-0 li:hover{
    background-color: #e6f8f6;
    color: #3f52e3;
}
/***************** second layer ****************/
.dashboard_content .create_note{
    background-color: #fff;
    margin-top: 1rem;
}
.dashboard_content .create_note h2{
    padding: 2rem 4rem 1rem;
}
.dashboard_content .create_note p{
    padding: 0 4rem 1rem;
    font-size: 16px;
}
/*************** third layer ***************/
.dashboard_content .create_note-btn{
    margin-top: 2rem;
}
.create_note-btn .note_features-dot-0{
    width: 35px;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 0 2px;
    text-align: center;
    border-radius: 20px;
}
.create_note-btn .note_features-dot-0:hover{
    background-color: #e6f8f6;
    color: #fff;
}
.create_note-btn .dot_features-0{
    background-color: #fff;
    border: 1px solid #eee;
    color: #333;
    width: 100px;
    border-radius: 5px;
    position: absolute;
    margin-left: -6.5rem;
    margin-top: -1rem;
    display: none;
}
.create_note-btn .note_option{
    margin: 1rem .1rem;
    width: 30px;
    background-color: #fff;
    border-radius: 20px;
}
.create_note-btn .note_option p{
    padding: .3rem;
}
.create_note-btn .note_option p:hover{
    background-color: #e6f8f6;
    color: #fff;
}
.create_note-btn .note_option p:first-child{
    border-bottom: 1px solid #e6f8f6;
}




/************************************************
.imessage-container{
    padding-top: 2px;
}
.imessage-content{
   display: grid;
   grid-template-columns: 1fr 2fr .5fr;
   grid-column-gap: 10px;
    background-color: #e6f8f6;
}
.comment{
    width: 100%;
    padding: .5rem;
    background-color: #fff;
}
.comment-container{
    border-bottom: 1px solid #e6f8f6;
    width: 100%;
    padding: .5rem 0;
}
.comment-content{
    display: flex;
    justify-content: space-between;
}
.comment-personal{
    width: 60px;
    height: 25px;
    background-color: #e6f8f6;
    color: #3f52e3;
    padding: 2px 4px;
    border-radius: 5rem;
}
.comment-personal:hover{
    background-color: #fcefee;
    color: #444;
}
#dot-modal{
   margin-right: 1rem;
}
.dot-modal-content{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    padding: .5rem;
    width: 100px;
    position: absolute;
    background-color: #fff;
}
.dot-modal-content-0{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    padding: .5rem;
    width: 120px;
    position: absolute;
    background-color: #fff;
    right: 12rem;
}
.dot-modal-content li:hover,
.dot-modal-content-0 li:hover{
    color: #ffcdab;
}
.dot-modal{
    margin: 0 1rem;
}
.iclick{
    margin-left: 1.5rem;
    margin-top: .5rem;
}
.text-box{
    width: 100%;
    margin: .5rem 0;
    padding:  3rem 4rem;
    background-color: #fff;
}
.addons{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 1rem;
    width: 25px;
    height: 50px;
    text-align: center;
    padding: .2rem .5rem;
}*/
/********************************/
.message-menu-container{
    width: 400px;
    background-color: #fff;
    opacity: 999;
    z-index: 2;
    top: 2rem;
    position: absolute;
    display: none;
    transform: translate3d(-50%, -50%) scale(3);
    transition: all .3s .4s;
}
.message-menu-flex,
.edit-menu-flex{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.remove-message-box,
.remove-edit-box{
    background: none;
    padding: .5rem;
    border: none;
    outline: none;
    font-size: 16px;
}
.remove-message-box:hover,
.remove-edit-box:hover{
    background: #ccc;
    color: #fff;
    border-radius: 10rem;
}
.message-form,
.edit-form{
    padding: 1.5rem 1rem;
}
.note-title,
.note-tag{
    height: 20px;
    background-color: #fdfdfd;
    border: .5px solid #eee;
}
.note-box{
    width: 100%;
    height: 200px;
    padding: .5rem;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4;
}
/***********************************/
.edit-menu-container{
    width: 400px;
    background-color: #fff;
    opacity: 999;
    z-index: 2;
    top: 3rem;
    position: absolute;
    transform: translate3d(-50%, -50%) scale(3);
    transition: all .3s .4s;
    display: none;
}
.tag-flex{
    display: flex;
    width: 100%;
    padding: .5rem;
    outline: none;;
    border-radius: .5rem;
    background-color: #fdfdfd;
    border: .5px solid #eee;
}
.tag-flex div:last-child{
    margin-left: .4rem;
}
.edit-note{
    border: none;
    background-color: #2f89fc;
    padding: .5rem 1.5rem;
    outline: none;
    border-radius: 20px;
    margin-top: .2rem;
}
.edit-note:hover,
.cancel-note:hover{
    background-color: #ffcdab;
    color: #fff;
}
.cancel-note{
    border: 1px solid #eee;
    background-color: #fff;
    padding: .5rem 1.5rem;
    outline: none;
    border-radius: 20px;
    margin-top: .2rem;
    margin-left: 1rem;
}
.edit-personal{
    border: none;
    background-color: #e2f3f5;
    padding: .1rem .5rem;
    outline: none;
    border-radius: 10px;
    margin-top: .2rem;
}
.x-col{
    color: #46c3db;
}
/********************************/
.delete-container{
    width: 300px;
    background-color: #fff;
    opacity: 999;
    z-index: 2;
    top: 10rem;
    position: absolute;
    transform: translate3d(-50%, -50%) scale(3);
    transition: all .3s .4s;
    display: none;
}
.remove-delete-box{
    float: right;
    background: none;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    font-size: 16px;
}
.remove-delete-box:hover{
    color: #ff5959;
}
.delete-note{
    border: none;
    background-color: #ff5959;
    padding: .5rem 1.5rem;
    outline: none;
    border-radius: 20px;
    margin-top: .2rem;
}
.delete-note:hover{
    color: #fff;
    background-color: #d72323;
}
.spinner{
    color: #fff;
    position: absolute;
    top: 15rem;
    left: 45%;
   }
   .connect{
    color: #fff;
    position: absolute;
    top: 18rem;
    left: 45%;
    font-size: 23px;
   }